<form class="app-search d-none d-md-block">
  <div class="form-group typeahead__container with-suffix-icon mb-0">
    <div class="typeahead__field">
      <div class="typeahead__query">
        <input
          class="form-control autocomplete-control topbar-search"
          type="search"
          placeholder="Type page's title"
          autocomplete="off"
          data-source="../assets/data/search-menu.json"
        >
        <div class="suffix-icon icofont-search"></div>
      </div>
    </div>
  </div>
</form>
